<div class="container p-3">
    <article class="card" *ngFor="let book of book">
        <div class="card-header">
            <h3>{{ book.name }} </h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ book.author }}</h5>
            <div class="d-flex flex-row">
                <div class="p-2"><strong>Genero:</strong> {{ book.genre }}</div>
                <div class="p-2"><strong>Categoria:</strong> {{ book.category }}</div>
                <div class="p-2"><strong>Año publicacion:</strong> {{ book.Yearpublucation }}</div>
                <div class="p-2"><strong>Numero paginas:</strong> {{ book.numPage }}</div>
            </div>
            <p class="card-text">
                {{ book.description }}
            </p>
            <button type="button" class="btn btn-primary"> <i class="fa-solid fa-plus"></i> </button>
        </div>
    </article>
</div>