<div class="container">
    <div class="content-about">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://images.pexels.com/photos/4855450/pexels-photo-4855450.jpeg?auto=compress&cs=tinysrgb&w=1600"
                        class="img-fluid rounded-start" alt="" />
                </div>
                <div class="col-md-8">
                    <div class="card-body d-flex justify-content-center">
                        <p class="card-text">
                            La Biblioteca de Cómics y Mangas es una biblioteca pública que se especializa en cómics y
                            mangas. La
                            biblioteca tiene una colección de más de 100.000 cómics y mangas, que incluyen títulos de
                            todo el mundo.
                            La biblioteca también ofrece una variedad de programas y eventos, como clubes de lectura,
                            talleres y
                            proyecciones de películas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">
                            La Biblioteca de Cómics y Mangas es un lugar para que todos disfruten de los cómics y el
                            manga. La
                            biblioteca tiene algo para todos, desde los fanáticos de la acción hasta los fanáticos del
                            romance. La
                            biblioteca también es un lugar para que los lectores aprendan sobre diferentes culturas y
                            perspectivas
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="https://images.pexels.com/photos/13617521/pexels-photo-13617521.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        class="img-fluid rounded-start" alt="" />
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://images.pexels.com/photos/2393789/pexels-photo-2393789.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid rounded-start" alt=""/>
                </div>
                <div class="col-md-8">
                    <p class="card-text">
                        Si eres un fanático de los cómics o el manga, o si simplemente estás interesado en aprender más
                        sobre
                        ellos, la Biblioteca de Cómics y Mangas es el lugar para ti. ¡Ven a visitarnos hoy!"
                    </p>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <span class="card-title">Aqui hay algunos adicionales que puedes incluir en tu texto:</span>
                        <ul>
                            <li>La historia de la bibleteca</li>
                            <li>La mision de la biblioteca</li>
                            <li>Los servicios que ofrecen la biblioteca</li>
                            <li>La coleccion de la biblioteca</li>
                            <li>Los progrmas y eventos que ofrece la biblioteca</li>
                            <li>El personal de la biblioteca</li>
                            <li>La ubicación de la biblioteca</li>
                            <li>Los horarios de la biblioteca</li>
                            <li>Las formas de contacto de la biblioteca</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="https://images.pexels.com/photos/3494806/pexels-photo-3494806.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid rounded-start" alt=""/>
                </div>
            </div>
        </div>
    </div>
</div>